{{!-- for more info see google docs, handlebars.js --}}
{{! see controllers/home-routes.js}}
<ol class="post-list">
  {{!-- see home-routes.js GET / for "each" helper info  --}}
  {{#each posts as |post|}}
  <li>
    {{!-- see google docs, handlebars.js, partial templates --}}
    {{!-- imports the partial template code snippet from post-info.handlebars
    and passes the post object to the partial template.  --}}
    {{> post-info post }}
  </li>
  {{/each}}
</ol>