{{!-- see controllers/home-routes.js GET /post/:id--}}

{{!-- see google docs, handlebars.js, partial templates --}}
{{> post-info post }}

{{!-- see controllers/home-routes.js GET /post/:id--}}
{{!-- conditionally renders the comment box to the page if the
user is logged in. 
the "if" helper can only render based on booleans, true or false. --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{!-- see google docs, handlebars.js, partial templates --}}
    {{!-- imports the partial template code snippet from comments.handlebars
    and passes the post.comments object to the partial template to create each comment's
    HTML.  --}}
{{> comments post.comments}}

{{!-- see above "if" conditional --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}